<div class="container mt-5">
  <h1 class="mb-5">Argus Task Project Angular User Form</h1>
  <form #myForm="ngForm">
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input
        id="firstname"
        type="text"
        class="form-control"
        name="firstName"
        aria-describedby="emailHelp"
        placeholder="Enter your first name"
        ngModel
      />
      <label for="lastname" class="form-label mt-2">Last Name</label>
      <input
        id="lastname"
        type="text"
        class="form-control"
        name="lastName"
        aria-describedby="emailHelp"
        placeholder="Enter your last name"
        ngModel
      />
      <label for="email" class="form-label mt-2">Email address</label>
      <input
        id="email"
        type="email"
        class="form-control"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Enter your email"
        ngModel
      />
      <label for="age" class="form-label mt-2">Age</label>

      <input
        type="number"
        id="age"
        class="form-control"
        name="age"
        placeholder="Enter your age"
        ngModel
      />
    </div>

    <button
      type="button"
      class="btn btn-primary"
      (click)="addUser(myForm.value)"
    >
      Added User
    </button>
    <!-- <button type="button" class="btn btn-primary">Show User List</button> -->
  </form>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.age }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteUser(item.id)"
          >
            DELETE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
